.head{
    gap: 30vw;
    width: 100%;
    align-items: center;
    display: flex;
    background-color: black;
}

.head-name{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 250%;
    color:white
}

.head-login{
    float:right;
    background-color: black;
}

.red{
    gap: 30vw;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 90vw;
    min-height: 15vw;
}

.column{
    min-width: 30vw;
    align-items: center;
    justify-content: center;
}
.column1{
    min-width: 8vw;
    max-width: 8vw;
    align-items: center;
    justify-content: center;
}
.column2{
    min-width: 25vw;
    align-items: center;
    justify-content: center;
}