.head{
    gap: 30vw;
    width: 100%;
    background-color: black;
}

.icons{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.head-name{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 250%;
    color:white
}

.head-login{
    float:right;
    background-color: black;
}

.head-music{
    float: left;
    background-color: black;
}

.logo{
    padding: 5px;
}

.pin{
    background-color: yellow;
}