

.column4{
    margin: 5vw;
}

textarea {
    width: 70vw;
    height: 15vw;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
  }

.tekstPitanja{
    width: 65vw;
}

.radio{
    
        display: inline; 
        width: 100px;
        height: 100px;
        padding: 5px;
      
}