table {
    width: 100%;
    align-items: center;
    justify-content: center;
}

table,
th,
td {
    border: 1px solid black;
}

.column4 {
    min-width: 12vw;
    max-width: 12vw;
    align-items: center;
    justify-content: center;
}