.column{
    min-width: 15vw;
    align-items: center;
    justify-content: center;
}

.column1{
    min-width: 25vw;
    align-items: center;
    justify-content: center;
}

.red{
    gap: 20vw;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 90vw;
    min-height: 15vw;
}