.event {
    border-radius: 3vw;
    border: 0.5vw solid black;
    padding: 2vw;
    margin: 1vw;
    background-color: whitesmoke;
}

.column4 {
    min-width: 1vw;
    max-width: 1vw;
    align-items: center;
    justify-content: center;
}